/* Primer boton */
.btn-exportar{

}
/* Opciones desplegable */
.btn-exportar-opcion{
    background-color: hwb(207 75% 11%);
   
}


.dt-down-arrow{
    /* visibility: hidden; */
}
.top{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.dt-buttons{
    /* EXPORTAR */
    float: right;
}
.dt-length {
    /* MOSTRAR N REGISTROS */
    float: center;
    margin-left: 10px;
  
}


.bottom{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.bottom .dt-pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}
    



.pagination {
  
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination li {
    display: inline;
}

.pagination a {
    text-decoration: none;
}
